/* Mixins:
*/
/**
/* Animations:
*/
@-webkit-keyframes LoadIn {
  0% {
    width: 0px;
  }
}
@-moz-keyframes LoadIn {
  0% {
    width: 0px;
  }
}
@-ms-keyframes LoadIn {
  0% {
    width: 0px;
  }
}
@-o-keyframes LoadIn {
  0% {
    width: 0px;
  }
}
@keyframes LoadIn {
  0% {
    width: 0px;
  }
}
/**
* Variables:
*/
/**
* Styles:
*/
* 

@media (max-width: 500px) {

}

[role="main"] {
  padding: 0.5em 1em 0 3.25em;
  float: left;
  width: 80%;
}

nav[role="navigation"] {
  position: fixed;
  z-index: 90;
     margin-left:-10px;
  top: 0;
  width: 100%;
}
nav[role="navigation"] .mobile-handle {
  display: none;
}
nav[role="navigation"] ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav[role="navigation"] ul li:first-child {
  border-left: none;
}
nav[role="navigation"] ul li a {
display: block;
padding: 1em 0;
background-color: #31394a;
position: relative;
text-decoration: none;
color: white;
text-align: center;
border-bottom: 1px solid #242a37;
border-top: 1px solid rgba(255, 255, 255, .08);
-moz-transition: 0.5s all ease;
-o-transition: 0.5s all ease;
-webkit-transition: 0.5s all ease;
transition: 0.5s all ease;
color: #c4ccda;
display: -webkit-box;
-webkit-box-flex: 1;
-webkit-box-align: center;
font-family: Helvetica, sans-serif;
height: 42px;
text-shadow: 0 1px 0 rgba(0, 0, 0, .6);
}


aside {
  float: left;
  width: 20%;
  position: relative;
  z-index: 80;
}
@media (max-width: 500px) {
  aside {
    float: none;
    width: 250px;
    height: 100%;
    position: fixed;
    top: 40px;
    -moz-transform: translateX(-240px);
    -ms-transform: translateX(-240px);
    -o-transform: translateX(-240px);
    -webkit-transform: translateX(-240px);
    transform: translateX(-240px);
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
    background: #222;
  }
  aside.active {
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
}
aside .aside-nav-handle {
  display: none;
}
   
  

@media (max-width: 768px)  {
  nav[role="navigation"] {
    width: 300px;
    height: 100%;
    position: fixed;
    -moz-transform: translateX(-290px);
    -ms-transform: translateX(-290px);
    -o-transform: translateX(-290px);
    -webkit-transform: translateX(-290px);
    transform: translateX(-290px);
    -moz-transition: 0.5s all ease;
    -o-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    transition: 0.5s all ease;
background-color: #31394a;
  }
  nav[role="navigation"].active {
    -moz-transform: translateX(0px);
    -ms-transform: translateX(0px);
    -o-transform: translateX(0px);
    -webkit-transform: translateX(0px);
    transform: translateX(0px);
  }
  nav[role="navigation"] .mobile-handle {
    display: block;
    position: absolute;
    right: -35px;
    width: 35px;
    height: 35px;
    background: #444;
    color: white;
    cursor: pointer;
    background: transparent;

       z-index:999;
  }
     #header_wrapper{z-index:1;zoom:0.4;background: -webkit-gradient(linear, center top, center bottom, from(#738aba), to(#2c4987));
background: -webkit-linear-gradient(#738aba, #2c4987);
border-bottom: 1px solid #111a33;
-webkit-box-shadow: inset 0 1px 1px -1px #fff;
-webkit-box-sizing: border-box;
height: 43px;
position: fixed;
width: 100%;
z-index: 12;}
     #header #logo {display:none;}
     #header #menu_user{display:inline-block;
       zoom:0.5;}
     #header #menu_user {margin-left:450px;}
     #menu_user .composer-link, #menu_user .notifications-link {margin-left:0px;}
     #menu_mobile{display:none;}
     #content_wrapper,#footer_wrapper{min-width:100%;}
     #content {padding-left:0px;width:auto;}
     .activity_composer_input {display:none;}
     .activity_composer+.activity {margin-top:7.5em;}
     #menu {display:none;}
     #categories {display:none;}
     .shortcuts {display:none;}
     .main {width:100%;
       margin-left:0px;
zoom:0.27
         ;}
     .btn {background:transparent;font-size: 1.4em;
       font-weight:bold;border:0px;}
     .btn span.label-text {display:none;}
     .activity_composer+.activity {width:100%;}
  nav[role="navigation"] 
     .composer.modal {zoom:0.4;}
     .mobile .composer.modal {zoom:0.3;}
     nav[role="navigation"].active #menu{zoom:2.3;display:block;
width:100%;
top:-30px;}
     .mobile-handle:before {
 content: "";
position: absolute;
top: 5px;
left: 5px;
/* color: white; */
background-image: url(http://se5revolution.s3.amazonaws.com/uploads/1120/773858.png);
background-repeat: no-repeat;
background-size: auto;
background-position: -194px -78px;
display: block;
height: 42px;
width: 52px;
   /* zoom:0.4; */
/* font-size: 2em; */
  }
  nav[role="navigation"] ul li {
    float: none;
    width: auto;
  }
  nav[role="navigation"] ul li a {
    display: block;
  }
     nav[role="navigation"] ul li {
       zoom:0.3;
  border-left: 1px solid transparent;
}

/**Activity Stuff**/
.activity>li {
    padding: 1em 1em;
    overflow: hidden;
    font-size: 1.1em;
    line-height: 1.3em;
    zoom: 0.1;
}

.activity>li+li {
    padding-top: 0
}

.activity .member_photo {
    display: block;
    float: left;
    width: 3em;
    height: 3em;
    vertical-align: middle;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: .25em
}

.activity .activity_inner {
    display: block
}

.activity .activity_inner2 {
    display: block;
    padding-top: .1em;
    padding-left: .75em;
    overflow: hidden
}

.activity .member_name {
    font-size: 1em;
    font-weight: bold
}

.activity .post_message {
    display: block;
    padding: .25em 0;
    font-size: 1em
}

.activity .activity_like .post_message:before {
    content: '"'
}

.activity .activity_like .post_message:after {
    content: '"'
}

.activity .action {
    color: #999
}

.activity .activity_info {
    display: block;
    margin-top: .5em;
    font-size: .9em;
    color: #aaa
}

.activity .activity_info>ul>li {
    display: inline;
    color: #aaa
}

.activity .activity_info>ul>li a {
    color: #999
}

.activity .activity_info .sep:after {
    padding: 0 3px;
    content: " •";
    opacity: .1
}

.activity .activity_info .activity_vote a:hover {
    color: #555;
    text-decoration: none
}

.activity .activity_info .activity_vote a i {
    margin-left: 2px;
    opacity: .3
}

.activity .activity_info .activity_vote a:hover i {
    opacity: .7
}

.activity .activity_info .activity_vote a.active i {
    opacity: 1
}

.activity .activity_info .activity_vote a.active span {
    font-weight: bold;
    color: #555
}

.activity .activity_info .activity_vote .score_sum {
    display: none
}

.activity .activity_info .activity_vote .vote_down {
    margin-left: 2px
}

.activity .post_title {
    line-height: 1.3em
}

.activity_post .action, .activity_post .post_title {
    display: none
}

.activity .preview {
    margin-top: .5em;
    margin-bottom: .1em;
    overflow: hidden;
    clear: both
}

.activity .preview>.wrapper {
    padding: .5em;
    overflow: hidden;
    font-size: .9em;
    line-height: 1.3em;
    background-color: #f5f5f5
}

.activity .preview .preview_photo {
    display: block;
    float: left;
    margin-right: .5em;
    overflow: hidden
}

.activity .preview .preview_inner {
    overflow: hidden
}

.activity .preview .preview_title {
    font-weight: bold
}

.activity .preview.file .preview_title i {
    display: none
}

.activity .preview .preview_body {
    font-size: .9em;
    line-height: 1.4em
}

.activity .preview .preview_title+.preview_body {
    margin-top: .5em
}

.activity .vote {
    display: none
}

.activity .likes_list {
    margin-top: .5em;
    font-size: .9em;
    background-color: #f5f5f5
}

.activity .likes_list+.comments_wrapper {
    margin-top: .1em
}

.activity .comments_wrapper {
    margin-top: .5em
}

.activity .comment .likes_list {
    font-size: 1em
}

.activity .comment .comment_likes {
    display: none
}

.activity .comment .comment_reply {
    display: none
}

.activity .comments_list>li {
    font-size: .9em
}

.activity_composer {
    padding: .5em;
    background-color: #f5f5f5;
    border: 1px solid #eee
}

.activity_composer+.activity {
    margin-top: 1em
}

.activity_composer .alert {
    margin-bottom: 5px
}

.activity_composer_input {
    padding: .5em;
    background-color: #fff;
    border: 1px solid #bbb;
    border-radius: .25em
}

.activity_composer_input textarea {
    width: 98%;
    height: 1.5em;
    margin-bottom: 0;
    border: 0;
    box-shadow: none;
    resize: none
}

.activity_composer.active textarea {
    height: 3em;
    overflow: hidden;
    font-size: 1.2em
}

.activity_composer_submit {
    display: none;
    margin-top: 5px
}

.activity_composer.active .activity_composer_submit {
    display: inherit
}

.activity_composer .loading-image {
    margin-left: 10px
}

.activity_composer_preview {
    padding: 0 0 10px 0;
    margin-top: 5px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #fff;
    border: 2px dashed #ddd
}

.activity_composer_preview .activity_composer_preview_meta {
    display: block;
    padding-right: 10px;
    padding-left: 10px;
    overflow: hidden
}

.activity_composer_preview .image-chooser {
    display: block;
    float: left;
    margin: 0;
    margin-left: 10px
}

.activity_composer_preview .activity_composer_preview_menu {
    padding: 5px 5px 5px 10px;
    margin-bottom: 12px;
    overflow: hidden;
    border-bottom: 1px solid #eee
}

.activity_composer_preview .activity_composer_preview_menu_title {
    font-weight: bold
}

.activity_composer_preview .activity_composer_preview_menu_close {
    display: inline-block;
    float: right;
    width: 1em;
    font-size: 1.5em;
    font-weight: bold;
    color: #000;
    text-align: center;
    text-decoration: none;
    text-shadow: none;
    opacity: .5
}

.activity_composer_preview .activity_composer_preview_title, .activity_composer_preview .activity_composer_preview_description {
    padding: 2px 5px;
    margin-bottom: 4px;
    line-height: 1.4em;
    color: #999;
    white-space: pre-wrap;
    cursor: pointer;
    border-radius: 5px
}

.activity_composer_preview .activity_composer_preview_title {
    font-size: 1.1em
}

.activity_composer_preview textarea {
    width: 95%;
    padding: 2px 5px;
    overflow: hidden;
    font-size: .8em;
    line-height: 1.4em
}

.activity_composer_preview .activity_composer_preview_title {
    font-weight: bold;
    color: #666
}

.activity_composer_preview .image-chooser .images {
    padding: 0;
    background-color: #fff;
    border: 1px solid #ddd
}

.activity_composer_preview .image-chooser .control-label {
    display: none
}

.activity_composer_preview .image-chooser .checkbox {
    margin-top: 5px;
    margin-bottom: 0;
    font-size: .9em
}

.activity_composer .overlay {
    display: none
}

.activity_composer.dragging-over-window .overlay {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 2em;
    color: #aaa;
    text-align: center;
    text-transform: uppercase;
    background-color: #f5f5f5;
    border: 3px dashed #ccc;
    border-radius: 4px 4px 4px 4px
}

.activity_composer .activity_composer_file {
    position: relative;
    min-width: 12px;
    margin-left: .5em;
    overflow: hidden;
    cursor: pointer;
    background-image: url("../images/attach.png");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 75%
}

.activity_composer .activity_composer_file input[type="file"] {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 200px;
    height: 100%;
    cursor: pointer;
    border: 50px solid transparent;
    opacity: 0;
    transform: translate(-1000px, 0) scale(10)
}

.activity_composer .activity_composer_file input[type="file"]:hover {
    cursor: pointer
}

.activity_composer .publish {
    padding-right: 2em;
    margin-left: .5em;
    background-position: 1.75em center
}

.activity_composer .publish.twitter {
    background-image: url("../images/mobile_twitter.png")
}

.activity_composer .publish.facebook {
    background-image: url("../images/mobile_facebook.png")
}

.activity_composer .anonymous>span {
    padding-left: .25em
}

.activity_composer_submit .options {
    overflow: hidden
}

.activity_composer_submit .btn-primary[type="submit"], .activity_composer_submit .activity_composer_file,
.activity_composer_submit .activity-composer-progress {
    display: block;
    float: left;
    margin-right: 6px;
    font-size: 1.2em;
    font-weight: bold
}

.activity-composer-progress {
    padding-top: 4px
}

.activity_composer_submit .loading-image {
    float: left;
    padding-top: 7px;
    margin-left: 6px
}

.posts>li {
    padding: .75em;
    border-bottom: .3em solid rgba(0, 0, 0, 0.05)
}
     }
   
  
   
   
@media (max-width: 500px) {
  aside .aside-nav-handle {
    display: block;
    position: absolute;
    top: 0px;
    right: -35px;
    width: 35px;
    height: 35px;
    background: #222;
    color: white;
    cursor: pointer;
    -moz-border-radius: 0 4px 4px 0;
    -webkit-border-radius: 0;
    border-radius: 0 4px 4px 0;
    -moz-box-shadow: 4px 3px 2px rgba(0, 0, 0, 0.05);
    -webkit-box-shadow: 4px 3px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 4px 3px 2px rgba(0, 0, 0, 0.05);
  }
  aside .aside-nav-handle:before {
    content: "\2261";
    position: absolute;
    top: -5px;
    left: 5px;
    color: white;
    font-size: 2em;
  }
}
aside a {
  display: block;
  color: #6aaf6a;
  text-decoration: none;
  margin-bottom: 0.5em;
}
@media (max-width: 500px) {
  aside a {
    padding: 1em;
    text-align: center;
  }
}
aside a:hover {
  text-decoration: underline;
}
   
   
 
